.header__logo {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.header .header__container {
  @include flex-between;

  @media (max-width: $mobile-width-only) {
    position: relative;
    padding-right: 60px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.header__menu-wrapper {
  @include flex-between;
  gap: 20px;
}
