.hero {
  position: relative;
  transition: background-color 0.5s ease-in-out;

  &--biege {
    background-color: $background-flat-white;

    @media (min-width: $tablet-width) {
      background-image: linear-gradient(to top, $base-white 188px, $background-flat-white 188px);
    }

    @media (min-width: $desktop-width) {
      background-image: none;
    }
  }

  &--lavender {
    background-color: $background-light-purple;

    @media (min-width: $tablet-width) {
      background-image: linear-gradient(to top, $base-white 188px, $background-light-purple 188px);
    }

    @media (min-width: $desktop-width) {
      background-image: none;
    }
  }

  &--grey {
    background-color: $background-grey;

    @media (min-width: $tablet-width) {
      background-image: linear-gradient(to top, $base-white 188px, $background-grey 188px);
    }

    @media (min-width: $desktop-width) {
      background-image: none;
    }
  }
}

.hero__container {
  padding: 0;

  & .hero__slider-item--biege {
    background-color: $background-flat-white;

    @media (min-width: $tablet-width) {
      background-image: linear-gradient(to top, $base-white 188px, $background-flat-white 188px);
    }

    @media (min-width: $desktop-width) {
      background-image: none;
    }
  }

  & .hero__slider-item--lavender {
    background-color: $background-light-purple;

    @media (min-width: $tablet-width) {
      background-image: linear-gradient(to top, $base-white 188px, $background-light-purple 188px);
    }

    @media (min-width: $desktop-width) {
      background-image: none;
    }
  }

  & .hero__slider-item--grey {
    background-color: $background-grey;

    @media (min-width: $tablet-width) {
      background-image: linear-gradient(to top, $base-white 188px, $background-grey 188px);
    }

    @media (min-width: $desktop-width) {
      background-image: none;
    }
  }
}

.hero__slider-item {
  display: none;

  &--active {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out;

    @media (min-width: $tablet-width) {
      flex-direction: column;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row-reverse;
      gap: 30px;
      align-items: flex-start;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hero__image {
  display: block;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.hero__content-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding: 60px 80px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 180px;
    padding-right: 80px;
    padding-bottom: 157px;
    align-items: flex-start;
  }
}

.hero__image-wrapper {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-left: 105px;
    padding-bottom: 84px;
  }
}

.hero__text {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  font-weight: 700;
  text-transform: uppercase;
  color: $base-purple;
  margin-bottom: 4px;
}

.hero__title {
  margin: 0;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
  }
}

.hero__description {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-bottom: 40px;
  }
}

.hero__order-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.hero__info {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.hero__old-price {
  font-size: 16px;
  line-height: 32px;
  color: $base-purple;
  text-decoration: line-through;
}

.hero__price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}
