.input {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    justify-self: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.input__range {
  font-family: $font-primary;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin: 0;
  width: 118px;
  height: 40px;
  text-align: center;
  padding: 8px 10px;
  border: 2px solid $base-purple-lighter;
  border-radius: 4px;
  background-color: $base-white;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  color: $base-black;

  &:out-of-range {
    color: $base-grey;
  }

  &:focus {
    border-color: $base-purple-darker;
    outline: none;
  }

  &:disabled {
    border-color: $base-grey-light;
    background-color: $background-light-grey;
    color: $base-grey;
    cursor: none;
  }

  &--min {
    margin-right: 18px;
    color: $base-grey;

    @media (min-width: $tablet-width) {
      margin-right: 20px;
    }
  }

  &--max {
    margin-left: 18px;

    @media (min-width: $tablet-width) {
      margin-left: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 87px;
  }

  @media (min-width: $desktop-width) {
    width: 135px;
  }
}

.input__dash {
  @include pseudo;
  width: 8px;
  height: 2px;
  background-color: $base-grey;
  top: 50%;
  left: 49%;
}
