.range {
  position: relative;
  width: 280px;
  height: 2px;
  background-color: $base-grey-light;
  margin-bottom: 35px;
  margin-top: 10px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 223px;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
    margin-bottom: 34px;
  }
}

.range__bar {
  position: absolute;
  display: block;
  width: 241px;
  height: 4px;
  background-color: $base-purple-lighter;

  @media (min-width: $tablet-width) {
    width: 192px;
  }

  @media (min-width: $desktop-width) {
    width: 274px;
  }
}

.range__toggle {
  @include pseudo;
  width: 24px;
  height: 24px;
  border: 2px solid $base-purple-lighter;
  border-radius: 50%;
  background-color: $base-white;
  cursor: pointer;

  &--min {
    top: -10px;
    left: 0;
  }

  &--max {
    top: -10px;
    right: -18px;

    @media (min-width: $tablet-width) {
      right: -11px;
    }

    @media (min-width: $desktop-width) {
      right: -24px;
    }
  }
}
