.slider__button {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 20px;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    padding-bottom: 188px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.slider__button--prev {
  left: 0;

  &:hover,
  :focus {
    background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  &:disabled {
    background: transparent;
    opacity: 0.5;
    cursor: none;
  }

  @media (min-width: 1440px) {
    left: calc(50% - 720px);
  }
}

.slider__button--next {
  right: 0;

  @media (min-width: 1440px) {
    right: calc(50% - 720px);
  }

  &:hover,
  :focus {
    background: linear-gradient(-90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(-90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  &:disabled {
    background: transparent;
    opacity: 0.5;
    cursor: none;
  }
}

.slider__right-button,
.slider__left-button {
  fill: $base-purple;
  width: 20px;
  height: 20px;
}

.slider__pagination {
  display: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    padding: 10px 0;
    cursor: pointer;
  }
}

.slider__pagination-button {
  border: none;
  width: 62px;
  height: 4px;
  background-color: $base-white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover,
  &:focus {
    background-color: $base-purple-opacity;
  }

  &:active {
    background-color: $base-purple;
  }

  &::after {
    @include pseudo;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: $base-purple;
    transition: left 0.3s ease-in-out;
  }

  &--active {
    &::after {
      left: 0;
    }

    &:hover,
    &:focus {
      background-color: $base-white;
    }
  }
}
