.social {
  @include reset;
  display: flex;
  gap: 20px;
}

.social__link {
  text-decoration: none;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s ease-in-out;
  display: block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $base-grey;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; // Добавляем размеры
    height: 100%;
  }

  &--vk::after {
    mask-size: 20px 20px;
    mask-image: url("../../icons/stack.svg#vk-icon");
  }

  &--pinterest::after {
    mask-size: 22px 22px;
    mask-image: url("../../icons/stack.svg#pinterest-icon");
  }

  &--ok::after {
    mask-size: 20px 20px;
    mask-image: url("../../icons/stack.svg#ok-icon");
  }
}
