.user-menu {
  @include reset;
  display: flex;

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.user-menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: $base-black;
  position: relative;
  display: block;
  width: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;

  @media (max-width: $mobile-width-only) {
    height: 60px;

    &:active {
      background-color: $base-light-purple;
    }
  }

  @media (min-width: $tablet-width) {
    height: 80px;

    &:active {
      background-color: $base-light-purple;
    }
  }

  &:hover,
  &:focus {
    @media (min-width: $desktop-width) {
      color: $base-purple;

      &::before {
        background-color: $base-purple;
      }
    }
  }

  &:active {
    @media (min-width: $desktop-width) {
      background-color: $base-light-purple;
    }
  }

  &::before {
    @include pseudo;
    width: 16px;
    height: 16px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    mask-repeat: no-repeat;
    mask-size: 16px 16px;
    background-color: $base-black;
    transition: background-color 0.3s ease-in;

    @media (min-width: $desktop-width) {
      left: 31px;
    }
  }

  &--login::before {
    mask-image: url("../../icons/stack.svg#nav-user-icon");
  }

  &--basket::before {
    mask-image: url("../../icons/stack.svg#basket-user-icon");
  }

  @media (min-width: $desktop-width) {
    width: auto;
    height: auto;
  }
}

.user-menu__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
    padding: 32px 20px 32px 48px;
  }
}

@media (max-width: $mobile-width-only) {
  .user-menu__text {
    display: none;
  }
}

.user-menu__item {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
